.product-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #5e5a5a;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #ddd;
   
  }
  .Product-Name{
    font-size: 30px;
    text-align: center;
  }
  
  .product-details-container p {
    text-align: center;
  }
  
  .product-details-container button {
    margin-top: 16px;
    
  }
  .product-image {
    max-width: 30%; 
    height: auto; 
    padding-left: 218px;
  }
  .product-image-home-details{
    max-width: 50%;
    max-height: 30%;
    margin-left: 25%;
  }
  .product-details{
    color: rgb(244, 75, 75);
  }
  
  