/* styles.css */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    overflow-y: auto;
  }
.tarBar{
  background-color: #1e1d2b;
  
}